{% extends 'base.html' %} {% block contenido %}

<div class="centrado"><p class="texto-cont">GRUPO 5</p></div>
<div class="centrado">
  <p class="texto-cont">GUIDO JULIANO MAZZUCHINI UBALDI</p>
</div>
<div class="centrado"><p class="texto-cont">MATEO BOGLIOTTI</p></div>
<div class="centrado"><p class="texto-cont">MARCELO PINEDA</p></div>
<div class="centrado"><p class="texto-cont">MAURICIO ZAMUDIO</p></div>
<div class="centrado"><p class="texto-cont">NAHUEL DELPECH</p></div>
<div class="centrado"><p class="texto-cont">SILVIA SOTELO</p></div>
<div class="centrado"><p class="texto-cont">ALFREDO FERRARI</p></div>

{% endblock contenido %}
