{% extends 'base.html' %}

{% block contenido %}

<div class="container"></div>
		
    {% for a in posts %}
    <a href="{% url 'base:complete_post' a.pk %}"><p>
        <div class="centrado">
            <h1 class="texto_cont">{{a.titulo}}</h1>
        </div>
        <p class="user-post">
            by {{a.autor}}
        </p>
        <p class="cat-post">
            sobre {{a.categoria}}
        </p>
        <p class="post_cont">
            {{a.descripcion}}
        </p>
        <img  src="{{a.imagen_referencial.url}}">
        </p>
    </a>
        
    {% endfor %}
    
</div>

{% endblock contenido %}