@import "./registro.css";
/* user font */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mediana {
  width: 200px;
  height: 200px;
}

.pequena {
  width: 50px;
  height: 50px;
}
.grande {
  width: 500px;
  height: 500px;
}
.imagenes {
  width: 1020px;
  height: 690px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-cont {
  text-align: center;
  color: #68c50d;
  font-family: "Futura-Normal", arial;
  font-weight: 1000;
  font-size: 3em;
}
.titulo-principal {
  color: #68c50d;
  font-family: "Futura-Normal", arial;
  font-weight: 1000;
  font-size: 8em;
  line-height: 500px;
}
.logeo {
  font-family: "Futura-Normal", arial;
  font-size: 1em;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-p,
.cat-post {
  text-decoration: none;
  color: #68c50d;
  font-family: "Futura-Normal", arial;
  font-weight: 1000;
  font-size: 1.5em;
  padding: 30px 50px 30px;
}
.user {
  font-family: "Baloo Bhaijaan 2", cursive;
  font-size: 25px;
  padding-right: 20px;
  color: #000;
  margin: 0;
}
.user-post,
.user-logout,
.user-login,
.user-signup {
  text-decoration: none;
  padding-right: 10px;
  font-weight: 600;
  color: rgb(29, 68, 112);
  font-family: "Futura-Normal", arial;
  font-size: 25px;
  transition: all 0.5s ease;
}

.user-logout:hover,
.user-login:hover,
.user-signup:hover,
.menu-p:hover,
.navbar-menu:hover {
  color: rgb(23, 115, 43);
  transition: all 0.5s ease;
}

.user-login,
.user-signup {
  margin-top: 5px;
}

#icono {
  width: 200px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 90%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
/* usuario login y registro */
#user-status {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  position: absolute;
  justify-content: end;
  right: 20px;
  top: 30px;
  max-height: 100px;
}

hr {
  height: 50px;
  background-color: #68c50d;
}

.cuadro {
  box-shadow: 0 0 5px 5px #68c50d;
}

.area {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(6, 1fr);
}

.area2 {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(1, 1fr);
}

.centrado2 {
  display: flex;
  justify-content: center;
}

.texto-cont2 {
  text-decoration: none;
  color: #68c50d;
  font-family: "Futura-Normal", arial;
  font-weight: 1000;
  font-size: 2.5em;
  padding: 30px 50px 30px;
}
